--create database sensor00
--go

use sensor00
create table tensao(id int, nome varchar(max), idade int)

--USE db_Biblioteca
--GO

--INSERT INTO tbl_Autores (ID_Autor, Nome_Autor, SobreNome_Autor)
--VALUES
--(1, 'Daniel', 'Barret'),
--(2, 'Gerald', 'Carter'),
--(3, 'Mark', 'Sobell'),
--(4, 'William', 'Stanek'),
--(5, 'Richard', 'Blum');